
<div class="cont">
  <!-- <img src="https://bit.ly/2VnrFxI" alt=""  style="float: left; height: 50px; width: 50px;"> -->
  <div class="card">
  <h4>Github seacher</h4>
</div>
</div>

  <nav class="navbar">
    <a class= "navbar-brand" style="text-align: center;"><b>Github user search</b></a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="user" routerLinkActive='active'>User<span
            class="sr-only">(click here)</span></a>
      </div>
    </div>

  </nav>